.cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
}

img {
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  height: auto;
}

p {
  font-family: "Oswald", sans-serif;
}

#title {
  font-size: 20px;
  font-weight: 400;
  margin-top: -2px;
}

#owner {
  font-size: 15px;
  font-weight: 200;
  margin-top: -20px;
}

.musicCov {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

#bars {
  /* height: 30px;
  left: 50%;
  margin: 255px 0 0 -50px; */
  position: absolute;
  /* top: 50%;
  width: 40px; */
}

.bar {
  background: #ffffff;
  bottom: 1px;
  height: 3px;
  position: absolute;
  width: 3px;
  animation: sound 0ms -800ms linear infinite alternate;
}

@keyframes sound {
  0% {
    opacity: 0.55;
    height: 3px;
  }
  100% {
    opacity: 1;
    height: 15px;
  }
}

.bar:nth-child(1) {
  left: 1px;
  animation-duration: 474ms;
}
.bar:nth-child(2) {
  left: 5px;
  animation-duration: 433ms;
}
.bar:nth-child(3) {
  left: 9px;
  animation-duration: 407ms;
}
.bar:nth-child(4) {
  left: 13px;
  animation-duration: 458ms;
}
.bar:nth-child(5) {
  left: 17px;
  animation-duration: 400ms;
}
