.cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
}

.album {
  margin-left: auto;
  margin-right: auto;
  min-width: 85%;
  width: 30%;
}

p {
  font-family: "Oswald", sans-serif;
  text-align: center;
}

#title {
  font-size: 20px;
  font-weight: 400;
  margin-top: -2px;
}

#owner {
  font-size: 15px;
  font-weight: 200;
  margin-top: -20px;
}

.musicCov {
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

#bars {
  margin-left: 11.5%;
  margin-bottom: -25%;
  position: absolute;
  top: auto;
  left: auto;
  height: inherit;
  width: inherit;
}

.bar {
  background: #ffffff;
  bottom: 1px;
  height: 10%;
  position: absolute;
  width: 3px;
  animation: sound 0ms -800ms linear infinite alternate;
}

@keyframes sound {
  0% {
    opacity: 0.55;
    height: 3px;
  }
  100% {
    opacity: 1;
    height: 15px;
  }
}

.bar:nth-child(1) {
  left: 1px;
  animation-duration: 474ms;
}
.bar:nth-child(2) {
  left: 5px;
  animation-duration: 433ms;
}
.bar:nth-child(3) {
  left: 9px;
  animation-duration: 407ms;
}
.bar:nth-child(4) {
  left: 13px;
  animation-duration: 458ms;
}
.bar:nth-child(5) {
  left: 17px;
  animation-duration: 400ms;
}
